.panel-title{
    font-size: x-large;
}

.panel-body{
    font-size: large;
    font-weight: 700;
}

span.tag{
    margin: 5px;
    padding: 5px;
    background-color: #9acfea;
    border-radius: 3px;
    font-size: medium;
}

.editbar{
    color: black;
    margin: 5px;
    font-size: large;
}

.editbar:hover{
    color: #00aa00;
    cursor: pointer;
}