/*主要是showWholePost的来自piazza的样式*/
.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: left;
}
.leftFloat {
  float: left !important;
}
.rightFloat {
  float: right !important;
}
.post_region_box {
  background: white;
  -moz-box-shadow: 0 0 3px #676869;
  /* FF3.5+ */
  -khtml-box-shadow: 0 0 3px #676869;
  /* Konqueror */
  -webkit-box-shadow: 0 0 3px #676869;
  /* Safari 3.0+, Chrome */
  box-shadow: 0 0 3px #676869;
  /* Opera 10.5, IE9, Chrome 10+ */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  margin: 10px;
}
.post_region_box p {
  margin: 0px 0px 2px;
  word-break: break-word;
  min-height: 15px;
}
.post_region_box h3 {
  margin: 0px;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #9da5a8;
  display: inline-block;
}
.post_region_box {
  /*color: #3c7cc0;*/
}
.post_region_box .middot {
  float: left;
  margin: 0px 10px;
  color: #93abc6;
}
.post_region_box .middot.right {
  float: right;
  margin: 0px 5px;
}
.post_region_box .duplicate {
  color: #911;
  display: none;
  background: #fff;
  padding: 3px 5px;
  border: 2px solid #911;
  overflow: hidden;
  font-size: 12px;
}
.post_region_box .duplicate input {
  width: 300px;
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  margin-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.post_region_box .duplicate ul {
  margin-left: 10px;
}
.post_region_box .duplicate button {
  margin: 5px;
}
.post_region_box .post_region_header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.7;
  padding: 5px;
  border-bottom: 1px solid #EAECEE;
}
.post_region_box .post_region_header .post_icon {
  background: url(/images/dashboard/qa-panel/bannerIcons4.png) 0px top no-repeat;
  float: left;
  height: 24px;
  width: 24px;
}
.post_region_box .post_region_header .post_icon.question {
  background-position: 0px top;
}
.post_region_box .post_region_header .post_icon.question.unanswered {
  background-position: -120px top;
}
.post_region_box .post_region_header .post_icon.note {
  background-position: -24px top;
}
.post_region_box .post_region_header .post_icon.poll {
  background-position: -48px top;
}
.post_region_box .post_region_header .post_icon.member_answer {
  background-position: -144px top;
}
.post_region_box .post_region_header .post_icon.s_answer {
  background-position: -96px top;
}
.post_region_box .post_region_header .post_icon.i_answer {
  background-position: -72px top;
}
.post_region_box .post_region_header .post_subtitle {
  font-weight: normal;
  font-style: italic;
  margin-left: 6px;
  font-size: 11px;
  color: #666;
  float: left;
  margin-top: 3px;
}
.post_region_box .post_region_header .post_view_count {
  float: right;
  height: 22px;
  color: white;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1px 6px 0;
  text-shadow: #0a0a0a 0px 1px 0px;
  background: #555;
}
.post_region_box .post_region_header .post_view_count span {
  font-size: 16px;
  line-height: 1.3;
  float: left;
  margin-right: 5px;
  font-weight: bold;
}
.post_region_box .post_region_header .follow_link {
  float: right;
  font-size: 11px;
  line-height: 2.1;
  font-weight: normal;
  margin-right: 10px;
}
.post_region_box .post_region_header .post_title {
  color: #555;
  float: left;
  margin-left: 5px;
  line-height: 1.5;
}
.post_region_box .post_region_header .post_favorite {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  cursor: pointer;
}
.post_region_box .post_region_header .post_favorite i.icon_favorite {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background: url(/images/dashboard/qa-panel/favorite_icon.png) left top no-repeat;
}
.post_region_box .post_region_header .post_favorite i.icon_favorite.is_favorite {
  background-position: right top;
}
.post_region_box .post_region_header .post_favorite.is_favorite .is_favorite {
  display: inline-block;
}
.post_region_box .post_region_header .post_favorite.is_favorite .not_favorite {
  display: none;
}
.post_region_box .post_region_header .post_favorite.is_not_favorite .not_favorite {
  display: inline-block;
}
.post_region_box .post_region_header .post_favorite.is_not_favorite .is_favorite {
  display: none;
}
.post_region_box .post_region_arrow_dropdown {
  border: 1px solid #EAECEE;
  border-top: 1px solid #fff;
  padding: 5px;
  position: absolute;
  background: white;
  right: 5px;
  top: 33px;
  float: right;
  cursor: pointer;
  z-index: 1005;
  display: block;
  visibility: hidden;
  font-size: 11px;
  background: #aaa;
  -moz-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 1px 1px 1px #777;
}
.post_region_box .post_region_arrow_dropdown > a {
  color: white;
  margin-left: 2px;
}
.post_region_box .post_region_arrow_dropdown .caret {
  margin-top: 3px;
  margin-left: 0px;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.post_region_box .post_region_arrow_dropdown .dropdown_menu_wrapper {
  right: 0px;
  left: auto;
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding-top: 15px;
  margin-top: -17px;
  text-shadow: none;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu {
  position: static;
  background: white;
  border: 1px solid #aaa;
  -moz-box-shadow: 0 1px 5px #bbbbbb;
  /* FF3.5+ */
  -khtml-box-shadow: 0 1px 5px #bbbbbb;
  /* Konqueror */
  -webkit-box-shadow: 0 1px 5px #bbbbbb;
  /* Safari 3.0+, Chrome */
  box-shadow: 0 1px 5px #bbbbbb;
  /* Opera 10.5, IE9, Chrome 10+ */
  font-weight: bold;
  padding: 5px 0;
  width: 150px;
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li {
  padding: 4px 10px 5px;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.1;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li:hover {
  cursor: pointer;
  background: #629FCB;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li:hover a {
  color: white;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li:active {
  background: #87B9D8;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li a {
  cursor: pointer;
  text-decoration: none;
  background: none;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li > a {
  padding: 0px;
  line-height: 1.3;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu li,
.post_region_box .post_region_arrow_dropdown .dropdown-menu li a {
  color: #707D8D;
}
.post_region_box .post_region_arrow_dropdown .dropdown-menu#question_note_actions_dropdown {
  width: 180px;
}
.post_region_box .post_region_arrow_dropdown:hover {
  background: #999;
  border-top: 1px solid #eee;
}
.post_region_box .post_region_arrow_dropdown:hover .caret {
  border-top: 5px solid white;
}
.post_region_box:hover .post_region_arrow_dropdown {
  visibility: visible;
}
.post_region_box.edit_mode .post_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box.edit_mode:hover .post_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box .post_region_actions_dropdown {
  background: white;
  border: 1px solid #aaa;
  -moz-box-shadow: 0 1px 5px #bbbbbb;
  /* FF3.5+ */
  -khtml-box-shadow: 0 1px 5px #bbbbbb;
  /* Konqueror */
  -webkit-box-shadow: 0 1px 5px #bbbbbb;
  /* Safari 3.0+, Chrome */
  box-shadow: 0 1px 5px #bbbbbb;
  /* Opera 10.5, IE9, Chrome 10+ */
  display: none;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  top: 17px;
  left: auto;
  right: -10px;
  width: 150px;
  z-index: 3;
  text-align: left;
  float: right;
}
.post_region_box .post_region_actions_dropdown ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.post_region_box .post_region_actions_dropdown li {
  padding: 4px 10px 5px;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.1;
}
.post_region_box .post_region_actions_dropdown li:hover {
  cursor: pointer;
  background: #629FCB;
}
.post_region_box .post_region_actions_dropdown li:hover a {
  color: white;
}
.post_region_box .post_region_actions_dropdown li:active {
  background: #87B9D8;
}
.post_region_box .post_region_actions_dropdown li a {
  cursor: pointer;
  text-decoration: none;
}
.post_region_box .post_region_actions_dropdown li,
.post_region_box .post_region_actions_dropdown li a {
  color: #707D8D;
}
.post_region_box .post_region_actions_dropdown#question_note_actions_dropdown {
  width: 180px;
}
.post_region_box .post_region_content {
  padding: 12px;
  overflow: hidden;
}
.post_region_box .post_region_content h1 {
  font-size: 20px;
  line-height: 26px;
  color: black;
  font-weight: normal;
  margin-bottom: 5px;
  display: block;
}
.post_region_box .post_region_content h1.post_region_title {
  display: inline;
}
.post_region_box .post_region_content .post_region_text {
  margin: 5px 0;
  color: #333;
}
.post_region_box .post_region_content .post_region_text ul {
  list-style: disc;
  margin-left: 30px;
}
.post_region_box .post_region_content .post_region_text ol {
  list-style: decimal;
  margin-left: 30px;
}
.post_region_box .post_region_content .post_region_poll_options {
  margin-bottom: 10px;
}
.post_region_box .post_region_content .post_region_poll_options ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}
.post_region_box .post_region_content .post_region_text .poll_button {
  margin-top: -3px;
}
.post_region_box .post_region_content .post_region_text #poll_anonymity_placeholder {
  line-height: 3;
}
.post_region_box .post_region_content .post_region_text #poll_revote_placeholder {
  line-height: 3;
}
.post_region_box .post_region_content .post_region_text #poll_has_voted_placeholder {
  line-height: 3;
}
.post_region_box .post_region_content .post_region_message_wrapper.poll {
  margin-bottom: 5px;
  margin-top: 5px;
}
.post_region_box .post_region_content .compose_answer {
  border: 1px solid #ccc;
  padding: 5px 10px;
  color: #bbb;
  background: white;
}
.post_region_box .post_region_content .attachments {
  font-size: 12px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 10px;
}
.post_region_box .post_region_content .attachments .attachments_divider {
  width: 245px;
  height: 2px;
  display: block;
  background: #63696b;
}
.post_region_box .post_region_content .attachments .attachments_list {
  border-bottom: 1px solid #E9ECF3;
  border-left: 1px solid #E9ECF3;
  border-right: 1px solid #E9ECF3;
  border-spacing: 0;
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
  width: 100%;
}
.post_region_box .post_region_content .attachments .attachments_list td {
  padding: 3px 5px;
}
.post_region_box .post_region_content .attachments .attachments_count {
  font-weight: bold;
  padding: 3px 5px;
}
.post_region_box .post_region_content .attachments table {
  margin-left: 3px;
}
.post_region_box .post_region_content .attachments table tr:nth-child(even) {
  background: #F6F7F6;
}
.post_region_box .post_region_content .attachments table td {
  vertical-align: middle;
}
.post_region_box .post_region_content .attachments table td.preview {
  width: 40px;
}
.post_region_box .post_region_content .attachments table td.preview img {
  border: none;
  margin-bottom: 5px;
}
.post_region_box .post_region_content .attachments table td.info .wrapper {
  margin-left: 8px;
  min-height: 40px;
}
.post_region_box .post_region_content .attachments table td.info .title {
  font-weight: bold;
}
.post_region_box .post_region_content .attachments table td.info a {
  margin-left: 3px;
}
.post_region_box .post_region_message_wrapper {
  margin-top: 10px;
}
.post_region_box .post_region_message_wrapper .post_region_message {
  display: none;
  font-size: 11px;
  color: #aaa;
  text-align: left;
  margin-bottom: 3px;
  text-align: center;
}
.post_region_box .post_region_message_wrapper .post_region_message.endorse {
  color: #008000;
  font-weight: bold;
}
.post_region_box .post_region_message_wrapper .post_region_message.warning {
  color: #900;
  font-weight: bold;
}
.post_region_box .post_region_message_wrapper .post_region_message.show {
  display: block;
}
.post_region_box .post_region_message_wrapper .post_region_message .highlight {
  color: #888;
  font-weight: 500;
}
.post_region_box .post_region_actions {
  border: 1px solid transparent;
  -moz-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #eaecee;
  font-size: 11px;
  line-height: 2;
  padding: 5px 10px;
  height: 20px;
  font-weight: normal;
  background: #f6f7f6;
  padding-bottom: 10px;
}
.post_region_box .post_region_actions.edit_mode {
  display: none;
}
.post_region_box .post_region_actions .post_action {
  float: left;
  color: #3c7cc0;
  margin-top: 2px;
}
.post_region_box .post_region_actions .post_action.main {
  font-weight: bold;
}
.post_region_box .post_region_actions .post_action.right {
  float: right;
}
.post_region_box .post_region_actions .post_action.btn-primary {
  color: white;
  margin: 0px;
  padding: 1px 10px;
}
.post_region_box .post_region_actions .hide {
  display: none;
}
.post_region_box .post_region_actions .post_actions_number {
  float: left;
  color: #93abc6;
  padding-left: 5px;
  border-left: 1px solid #b2c2d3;
  margin-left: 5px;
  font-size: 11px;
  font-weight: normal;
  margin-top: 2px;
}
.post_region_box .post_region_actions .post_region_actions_left {
  float: left;
}
.post_region_box .post_region_actions .post_region_actions_meta {
  font-size: 11px;
  color: #999;
  float: right;
  margin-bottom: 3px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post_region_box .edit_mode .post_region_input {
  width: 98%;
  padding: 0 1%;
  resize: none;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 5px;
  background: #fff;
  cursor: text;
}
.post_region_box .edit_mode .input_links {
  float: right;
  font-size: 12px;
}
.post_region_box .edit_mode .input_links.grey_text {
  font-size: 11px;
  color: #888;
}
.post_region_box .edit_mode .post_region_textarea {
  width: 100%;
  min-height: 150px;
  padding: 8px;
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 5px;
  background: #fff;
  cursor: text;
  resize: vertical;
}
.post_region_box .edit_mode .latexHelp {
  color: #3c7cc0;
  font-size: 12px;
  display: none;
  margin-top: 5px;
}
.post_region_box .edit_mode .post_edit_meta_wrapper {
  margin-top: 5px;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta {
  text-align: left;
  margin-left: 7px;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta.attach_file label {
  line-height: 2;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta input[type="radio"] {
  margin-top: 0px;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta label {
  color: #97a4b0;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.post_region_box .edit_mode .post_edit_meta_wrapper .post_edit_meta ul li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.post_region_box .post_region_content h1.show {
  display: block;
  text-align: center;
}
.post_region_box .post_region_content h4 {
  color: #777;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
.post_region_box .post_region_content .poll_results_wrapper {
  margin-top: 15px;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result {
  margin-bottom: 10px;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .poll_results_percent {
  float: left;
  width: 17%;
  margin-right: 2%;
  text-align: right;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .poll_results_progress {
  width: 42%;
  float: left;
  margin: 0px;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .poll_results_option {
  float: left;
  width: 37%;
  margin-left: 2%;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .show_voters {
  display: none;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result.voters_shown .poll_results_progress {
  width: 36%;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result.voters_shown .show_voters {
  float: left;
  width: 11%;
  display: block;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result.voters_shown .poll_results_option {
  width: 32%;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .voters_list {
  float: left;
  width: 99%;
  margin: 5px auto;
  padding: 2px 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: none;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .voters_list.show {
  display: block;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .voters_list .hide_voters {
  color: #999;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .voters_list ul {
  list-style: none;
  margin: 0px;
}
.post_region_box .post_region_content .poll_results_wrapper .poll_result .voters_list ul li {
  float: left;
  margin-right: 10px;
}
.post_region_box.clarifying_discussion .wdm_wrapper {
  margin-top: 0px;
}
.post_region_box.clarifying_discussion .wdm_wrapper .actions {
  line-height: 2;
}
.post_region_box .compose_discussion {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #bbb;
  background: white;
}
.post_region_box .compose_reply {
  border: 1px solid #ccc;
  padding: 3px 6px;
  margin-left: 40px;
  margin-top: 5px;
  color: #bbb;
  background: white;
}
.post_region_box .post_region_textarea {
  width: 100%;
  min-height: 150px;
  padding: 8px;
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background: #fff;
  cursor: text;
  resize: vertical;
}
.post_region_box .followup_region_arrow_dropdown {
  border: 1px solid #ddd;
  padding: 4px 2px;
  position: relative;
  background: #eee;
  right: -5px;
  top: -5px;
  float: right;
  cursor: pointer;
  z-index: 1005;
  display: block;
  visibility: hidden;
}
.post_region_box .followup_region_arrow_dropdown .caret {
  margin-top: 3px;
  margin-left: 0px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.post_region_box .followup_region_arrow_dropdown > a {
  color: #999;
  font-size: 11px;
  padding-left: 5px;
}
.post_region_box .followup_region_arrow_dropdown .dropdown_menu_wrapper {
  right: 0px;
  left: auto;
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding-top: 15px;
  margin-top: -17px;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu {
  position: static;
  background: white;
  border: 1px solid #aaa;
  -moz-box-shadow: 0 1px 5px #bbbbbb;
  /* FF3.5+ */
  -khtml-box-shadow: 0 1px 5px #bbbbbb;
  /* Konqueror */
  -webkit-box-shadow: 0 1px 5px #bbbbbb;
  /* Safari 3.0+, Chrome */
  box-shadow: 0 1px 5px #bbbbbb;
  /* Opera 10.5, IE9, Chrome 10+ */
  font-weight: bold;
  padding: 0;
  min-width: 50px;
  list-style: none;
  margin: 0px;
  margin-top: 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li {
  padding: 3px 6px;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.1;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li:hover {
  cursor: pointer;
  background: #629FCB;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li:hover a {
  color: white;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li:active {
  background: #87B9D8;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li a {
  cursor: pointer;
  text-decoration: none;
  background: none;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li > a {
  padding: 0px;
  line-height: 1.3;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li,
.post_region_box .followup_region_arrow_dropdown .dropdown-menu li a {
  color: #707D8D;
}
.post_region_box .followup_region_arrow_dropdown .dropdown-menu#question_note_actions_dropdown {
  width: 180px;
}
.post_region_box .followup_region_arrow_dropdown:hover {
  background: #ddd;
  border: 1px solid #ccc;
}
.post_region_box .followup_region_arrow_dropdown:hover .caret {
  border-top: 5px solid #666;
}
.post_region_box .followup_region_arrow_dropdown:hover > a {
  color: #666;
}
.post_region_box .post_region_content {
  padding: 12px;
  overflow: hidden;
}
.post_region_box .post_region_content h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
}
.post_region_box .post_region_content .clarifying_discussion {
  padding: 5px;
  margin-bottom: 10px;
  background: #f6f7f6;
}
.post_region_box .post_region_content .clarifying_discussion:hover > .followup_region_arrow_dropdown {
  visibility: visible;
}
.post_region_box .post_region_content .clarifying_discussion.unresolved .resolve_unresolve_actions {
  background: #991b1e;
}
.post_region_box .post_region_content .clarifying_discussion.new {
  display: none;
}
.post_region_box .post_region_content .clarifying_discussion.edit_mode > .followup_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box .post_region_content .clarifying_discussion.edit_mode .discussion_content.main {
  display: none;
}
.post_region_box .post_region_content .clarifying_discussion.edit_mode .discussion_content.edit_mode {
  display: block;
}
.post_region_box .post_region_content .clarifying_discussion.edit_mode:hover > .followup_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box .post_region_content .clarifying_discussion .clarifying_discussion_dropdown {
  background: #ddd;
  border: 1px solid #bbb;
  padding: 4px 2px;
  position: relative;
  right: -5px;
  top: -5px;
  float: right;
  cursor: pointer;
  z-index: 1005;
  display: none;
}
.post_region_box .post_region_content .clarifying_discussion .clarifying_discussion_dropdown .arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
}
.post_region_box .post_region_content .clarifying_discussion .clarifying_discussion_dropdown:hover {
  background: #ccc;
}
.post_region_box .post_region_content .clarifying_discussion .clarifying_discussion_dropdown:hover .arrow_down {
  border-top: 5px solid #666;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_replies_dropdown {
  background: #ddd;
  border: 1px solid #bbb;
  padding: 4px 2px;
  position: relative;
  right: -5px;
  top: -5px;
  float: right;
  display: none;
  cursor: pointer;
  z-index: 1005;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_replies_dropdown .arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_replies_dropdown:hover {
  background: #ccc;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_replies_dropdown:hover .arrow-down {
  border-top: 5px solid #666;
}
.post_region_box .post_region_content .clarifying_discussion .account_image_container {
  float: left;
}
.post_region_box .post_region_content .clarifying_discussion .account_image_container .user_pic {
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  margin-right: 3px;
}
.post_region_box .post_region_content .clarifying_discussion .account_image_container img {
  margin-top: 0;
  max-width: none;
  max-height: none;
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 0px;
}
.post_region_box .post_region_content .clarifying_discussion .account_image_container .white_border {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0px;
  border: 1px solid white;
  -moz-box-shadow: 0 0 1px #aad0e6;
  /* FF3.5+ */
  -khtml-box-shadow: 0 0 1px #aad0e6;
  /* Konqueror */
  -webkit-box-shadow: 0 0 1px #aad0e6;
  /* Safari 3.0+, Chrome */
  box-shadow: 0 0 1px #aad0e6;
  /* Opera 10.5, IE9, Chrome 10+ */
}
.post_region_box .post_region_content .clarifying_discussion .account_image_container .white_border img {
  border-color: white;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content {
  font-size: 13px;
  line-height: 1.4;
  position: relative;
  top: 0px;
  right: 0px;
  margin-left: 20px;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content.edit_mode {
  display: none;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .discussion_poster {
  margin-right: 3px;
  font-weight: bold;
  color: #333;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .discussion_poster:hover {
  text-decoration: none;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .discussion_poster .smallText {
  font-weight: 500;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .actual_reply_text p:first-child {
  display: inline;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .actual_reply_text p {
  margin: 0px;
  line-height: 1.4;
}
.post_region_box .post_region_content .clarifying_discussion .discussion_content .dicussion_meta {
  font-size: 11px;
  line-height: 1.3;
  font-weight: normal;
  color: #908f8f;
  margin-top: 2px;
  margin-right: 5px;
}
.post_region_box .discussion_replies {
  margin-left: 40px;
  margin-top: 3px;
  background: #eee;
  /*padding: 5px;*/
  margin-bottom: 7px;
}
.post_region_box .discussion_replies:hover > .followup_region_arrow_dropdown {
  visibility: visible;
}
.post_region_box .discussion_replies.new {
  display: none;
}
.post_region_box .discussion_replies.edit_mode .discussion_content.main {
  display: none;
}
.post_region_box .discussion_replies.edit_mode .discussion_content.edit_mode {
  display: block;
}
.post_region_box .discussion_replies.edit_mode > .followup_reply_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box .discussion_replies.edit_mode:hover > .followup_reply_region_arrow_dropdown {
  visibility: hidden;
}
.post_region_box .resolve_unresolve_actions {
  background: #ccc;
  color: white;
  width: 170px;
  margin-bottom: 5px;
  padding: 0px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.post_region_box .resolve_unresolve_actions .radio.inline {
  padding-top: 2px;
  padding-bottom: 2px;
}
.post_region_box .resolve_unresolve_actions label {
  font-size: 12px;
  font-weight: 500;
}
.post_region_box .instructor_label {
  background: #f8b01e;
  font-size: 10px;
  color: white;
  padding: 0px 5px;
  font-weight: 500;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.post_region_box .instructor_label_icon {
  background: url(/images/piazza/dashboard/feed-icons6.png) no-repeat;
  height: 16px;
  margin-right: 1px;
  background-position: -42px top;
  width: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
}

/* 
 * dashboard_print.css
 * ----------------------------------------------------------------------------
 * This file defines styles that optimize the discussion panel for printing. It
 * basically hides everything on the dashboard except for the discussion panel 
 * and tweaks the appearance of the discussion panel to make it use less ink. 
 * 
 * (Note: The "!important" keywords are included as a safeguard to 
 * override selectors that might be more specific than the ones used here.)
 */

@media print {

  /* Hide unneeded regions and UI elements. */
  #top_bar,
  #bars,
  #feed,
  #history_slider_wrapper,
  #page_bottom_bar,
  .special_mentions_visibility {
    display: none !important;
  }
  .post_action,
  .post_region_box .post_region_header .post_icon,
  .post_region_box .instructor_label_icon,
  .post_region_box .post_region_header .follow_link,
  .post_region_box .middot,
  .post_region_box .post_region_actions .post_actions_number,
  #start_new_followup_header,
  #create_new_followup,
  .compose_reply,
  .dropdown {
    display: none !important;
  }

  /* Have the discussion pane take up the entire page. */
  body {
    height: auto !important;
    position: relative !important;
  }
  #page_main {
    top: 0 !important;
    min-width: 0 !important;
  }
  #page_main .views {
    top: 0 !important;
  }
  #page_center {
    left:   0 !important;
    bottom: 0 !important;
  }
  #page_center .main_panel {
    top: 0 !important;
  }
  #page_main,
  #views,
  #page_center,
  #page_main .main_panel {
    position: relative !important;
  }

  /* Remove unnecessary colors and cosmetic styles. */
  * {
    text-shadow: none !important;
  }
  body,
  #views {
    background: none !important;
  }
  .post_region_box {
    border: 1px solid #ccc !important;

    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
    
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
  }
  .post_region_box .post_region_actions {
    background: none !important;
  }
  .post_region_box .post_region_content .clarifying_discussion {
    background: none !important;
  }
  .tag.folder {
    color: #448ab6 !important;
    background: #d2e8f1 !important;
    border: 1px solid #d2e8f1 !important;
  }
  .prettyprint {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;

    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
  }

}.tipsy { padding: 5px; font-size: 11px; opacity: 0.9; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(/images/plugins/tipsy/tipsy.gif); font-family: 'Lucida Grande',Lucida,Arial,sans-serif; }
  .tipsy-inner { padding: 8px; background-color: black; color: white; max-width: 200px; text-align: left; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow { display: none; position: absolute; top: 20px; left: 50%; overflow-y: hidden; background-color: #f6f6f6; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -moz-box-shadow: 0 0 10px #333; -webkit-box-shadow: 0 0 10px #333; }
.jqmOverlay { background-color: #000; }

/*
 * Background iframe styling for IE6.
 * Prevents ActiveX bleed-through (<select> form elements, etc.)
 */
* iframe.jqm { position: absolute; top: 0; left: 0; z-index: -1; width: expression(this.parentNode.offsetWidth+'px'); height: expression(this.parentNode.offsetHeight+'px'); }

/*
 * Fixed posistioning emulation for IE6.
 * Star selector used to hide definition from browsers other than IE6.
 * For valid CSS, use a conditional include instead.
 */
* html .jqmWindow { position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px'); }

.jqmWindow.small   { margin-left: -300px; width: 600px; top: 80px; height: auto;  }
.jqmWindow.large   { margin-left: -430px; width: 860px; top: 80px; height: 500px; }
.jqmWindow .titlebar { height: 50px; line-height: 50px; background: url(/images/plugins/jqModal/bg-navbar.png) top repeat-x; border-bottom: 1px solid #fff; font-weight: bold; color: #fff; text-align: center; font-size: 20px; text-shadow: 0px -1px 0px #036; font-family: Helvetica; border-top-left-radius: 10px; border-top-right-radius: 10px; margin-bottom: 0px; }
.jqmWindow .section  { margin-bottom: 10px; }

.jqmWindow     .content { padding: 10px 20px 20px 20px; overflow-x: hidden; font-size: 13px; }
.jqmWindow.large .content { height: 500px; overflow-y: scroll; }

#dialog_toplinks_accountSettings .content { height: 373px; overflow-y: scroll; }
#dialog_toplinks_uploadPhoto .content { height: 50px; }
#dialog_upload_attach .content { height: 50px; }
#dialog_toplinks_classSettings   .content { height: 373px; overflow-y: scroll; }

.jqmWindow.large h3 { display: block; margin-bottom: 10px; border-bottom: 1px solid #ccc;}

.jqmWindow #classProfile { width: 390px; float: left;  }
.jqmWindow #classLink  { width: 390px; float: right; }
.jqmWindow #generalPrefs { width: 390px; float: left;  }
.jqmWindow #emailPrefs   { width: 390px; float: right; }

.jqmWindow     label { float: left; text-align: right; margin-right: 10px; margin-top: 3px; font-weight: bold; color: #333; }
.jqmWindow.small label { width:  60px; }
.jqmWindow.large label { width: 130px; font-weight: normal;}
.jqmWindow.large span.sublabel { color: #999; font-size: 10px; line-height: 11px; }

.jqmWindow     input[type="text"] { font-size: 12px; padding: 3px; border: 1px solid #aaa; }
.jqmWindow.small input[type="text"] { width: 478px; }
.jqmWindow.large input[type="text"] { width: 242px; }

.jqmWindow     input[type="password"] { font-size: 12px; padding: 3px; border: 1px solid #aaa; }
.jqmWindow.small input[type="password"] { width: 478px; }
.jqmWindow.large input[type="password"] { width: 240px; }

.jqmWindow     textarea { resize: none; font-size: 12px; padding: 3px; border: 1px solid #aaa; }
.jqmWindow.small textarea { height: 150px; width: 478px; }
.jqmWindow.large textarea { height: 40px;  width: 657px; }
#studentRoster   textarea { resize: vertical; height: 150px;}

ul.instructorRoster, ul.studentRoster { margin-left: 140px; }
ul.instructorRoster label, ul.studentRoster label { float: none; margin-top: 0px; }

.jqmWindow     .radioOptions label { float: none; font-weight: normal; }
.jqmWindow.small .radioOptions li    { display: inline-block; padding: 10px 0; }
.jqmWindow.small .radioOptions input { margin-right:  4px; }
.jqmWindow.small .blockItem      { margin-bottom: 5px; }

.iformNotification { border-radius: 8px; background: #a9e49b; border: 2px solid #45ac2d; padding: 5px; }
.iformNotification#question-error-whoops, .iformNotification#question-title-length { background: #FFC3C3; border: 2px solid #FF3A3A; }
.iformNotification#question-title-length { margin-top: 5px; }
.iformNotification#followup-error { background: #FFC3C3; border: 2px solid #FF3A3A; display: none;}

.jqmWindow .buttonWrapper { padding: 10px 20px; text-align: right; border-top: 1px solid #999; color: #888; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

#concurrency_conflict_dialog { height: 485px; }
#yourResponse, #yourPost { width: 49%; float: left; }
#conflictingResponse, #conflictingPost { width: 49%; float: right; }
#yourResponse textarea, #conflictingResponse textarea, #yourPost textarea, #conflictingPost textarea { width: 97%; height: 300px; margin-bottom: 5px; }
#yourPost input[type="text"], #conflictingPost input[type="text"] { width: 97%; font-size: 18px; }
#conflictMyResponse { background: #CCC; }

#myCourses ul li { padding: 5px; line-height: 25px; }
#myCourses ul li:hover { background: #fdfdfd; }
#myCourses ul li .button { line-height: 18px; text-align: center; width: 75px; }
#myCourses ul li .digest { width: 100px; display: inline-block; font-size: 12px;}

#preview_area  { max-height: 350px; overflow-y: auto; }/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */



/* Google Prettify Styles: */
.pln {
    color: #000;
}
@media screen {
    .str {
    color: #080;
}
.kwd {
    color: #008;
}
.com {
    color: #800;
}
.typ {
    color: #606;
}
.lit {
    color: #066;
}
.pun, .opn, .clo {
    color: #660;
}
.atn {
    color: #606;
}
.atv {
    color: #080;
}
.dec, .var {
    color: #606;
}
.fun {
    color: red;
}
}@media print, projection {
    .str {
    color: #060;
}
.kwd {
    color: #006;
    font-weight: bold;
}
.com {
    color: #600;
    font-style: italic;
}
.typ {
    color: #404;
    font-weight: bold;
}
.lit {
    color: #044;
}
.pun, .opn, .clo {
    color: #440;
}
.atn {
    color: #404;
}
.atv {
    color: #060;
}
}pre.prettyprint {
    padding: 2px;
    border: 0px solid #888;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eee;
}
/*
 * LESS Mixins Bundle
 * =========================
 * Piazza Technologies, Inc.
 */
.centerAlign {
  text-align: center;
}
.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: left;
}
.leftFloat {
  float: left !important;
}
.rightFloat {
  float: right !important;
}
/*
 * Global-ish Application Styles
 * ======================
 * Original Author: Chris Lewis
 * File Gutted 10/2012: Carly Geehr
 */
/* Generic Classes */
.clearFix:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  visibility: hidden;
}